.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;
}

.breadCrumb {
  display: flex;
  gap: 8px;
  align-items: center;
}

a {
  color: dodgerblue;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.parentContainer {
  display: flex;
  align-items: start;
  gap: 2%;
}

.imageArea {
  max-width: 500px;
  height: 380px;
}

.foodImage {
  height: 100%;
  object-fit: contain;
}

.foodDetails {
  display: flex;
  flex-direction: column;
  height: auto;
}

.foodTitle {
  margin-top: 0px;
}

.description {
  text-wrap: wrap;
}
