.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

a {
  color: dodgerblue;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.breadCrumb {
  display: flex;
  gap: 8px;
  align-items: center;
}
